In [ ]:
import pandas as pd
import numpy as np

In [ ]:
retained = pd.read_excel('/content/Retained_Bank.xlsx', parse_dates= ['Date'])
retained

                    Date Package Name  ... Unnamed: 14  Unnamed: 15
0    2019-08-01 00:00:00      B4 Bank  ...         NaN          NaN
1    2019-08-01 00:00:00      B4 Bank  ...         NaN          NaN
2    2019-08-01 00:00:00      B4 Bank  ...         NaN          NaN
3    2019-08-02 00:00:00      B4 Bank  ...         NaN          NaN
4    2019-08-02 00:00:00      B4 Bank  ...         NaN          NaN
..                   ...          ...  ...         ...          ...
312  2019-10-29 00:00:00      B4 Bank  ...         NaN          NaN
313  2019-10-30 00:00:00      B4 Bank  ...         NaN          NaN
314  2019-10-30 00:00:00      B4 Bank  ...         NaN          NaN
315  2019-10-30 00:00:00      B4 Bank  ...         NaN          NaN
316  2019-10-30 00:00:00      B4 Bank  ...         NaN          NaN

[317 rows x 16 columns]

 </br>

## Limpeza e Tratamento
- Os dados que não correspondiam aos canais organicos, e a coluna *Acquisition Channel* foi retirada, pois se tornaram redundantes.
- A data foi formatada

In [ ]:
retained_organic = retained[retained['Acquisition Channel'] == 'Organic']
retained_organic = retained_organic.drop(columns= ['Acquisition Channel'])
retained_organic['Date'] = retained_organic['Date'].map(lambda x: x.replace(" 00:00:00", ""))
retained_organic.index = range(retained_organic.shape[0])
retained_organic

          Date  Store Listing Visitors  ...  Unnamed: 14  Unnamed: 15
0   2019-08-01                    1628  ...          NaN          NaN
1   2019-08-02                    1610  ...          NaN          NaN
2   2019-08-03                    1725  ...          NaN          NaN
3   2019-08-04                    1579  ...          NaN          NaN
4   2019-08-05                    1488  ...          NaN          NaN
..         ...                     ...  ...          ...          ...
87  2019-10-26                    2125  ...          NaN          NaN
88  2019-10-27                    2069  ...          NaN          NaN
89  2019-10-28                    1532  ...          NaN          NaN
90  2019-10-29                    1326  ...          NaN          NaN
91  2019-10-30                    2457  ...          NaN          NaN

[92 rows x 14 columns]

## Exportação da Base
Nesse caso será exportada somente em CSV, pois são poucos os tratamentos necessários.

In [ ]:
retained_organic.to_csv('retained_bank_organic.csv', index= False)